
<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [184]:
import warnings
warnings.filterwarnings("ignore")

In [185]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/nachi/Library/Python/3.8/lib/python/site-packages (1.4.3)
Requirement already satisfied: numpy>=1.18.5 in /Users/nachi/Library/Python/3.8/lib/python/site-packages (from pandas) (1.23.0)
Requirement already satisfied: pytz>=2020.1 in /Users/nachi/Library/Python/3.8/lib/python/site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/nachi/Library/Python/3.8/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [186]:
import pandas as pd
import numpy as np

In [187]:
players = pd.read_csv('players.csv')
players.head()

players.columns

Index(['Unnamed: 0', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'code', 'cost_change_event',
       'cost_change_event_fall', 'cost_change_start', 'cost_change_start_fall',
       'dreamteam_count', 'element_type', 'ep_next', 'ep_this', 'event_points',
       'first_name', 'form', 'id', 'in_dreamteam', 'news', 'news_added',
       'now_cost', 'photo', 'points_per_game', 'second_name',
       'selected_by_percent', 'special', 'squad_number', 'status', 'team',
       'team_code', 'total_points', 'transfers_in', 'transfers_in_event',
       'transfers_out', 'transfers_out_event', 'value_form', 'value_season',
       'web_name', 'minutes', 'goals_scored', 'assists', 'clean_sheets',
       'goals_conceded', 'own_goals', 'penalties_saved', 'penalties_missed',
       'yellow_cards', 'red_cards', 'saves', 'bonus', 'bps', 'influence',
       'creativity', 'threat', 'ict_index', 'influence_rank',
       'influence_rank_type', 'creativity_rank', 'creativity_rank_type',
       'threat_rank', 'threat_rank_type', 'ict_index_rank',
       'ict_index_rank_type', 'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [203]:
players[players['id']==452]['web_name']
# players[players['web_name']=='James Ward-Prowse']

459    Devine
Name: web_name, dtype: object

In [188]:
positions = pd.read_csv('positions.csv')
teams = pd.read_csv('teams.csv')

In [189]:
teams

,Unnamed: 0,code,draw,form,id,loss,name,played,points,position,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,0,3,0,NaN,1,0,Arsenal,0,0,0,...,NaN,False,0,1200,1270,1150,1210,1190,1220,1
1,1,7,0,NaN,2,0,Aston Villa,0,0,0,...,NaN,False,0,1090,1100,1140,1110,1090,1090,2
2,2,91,0,NaN,3,0,Bournemouth,0,0,0,...,NaN,False,0,1050,1050,1080,1130,1060,1100,127
3,3,94,0,NaN,4,0,Brentford,0,0,0,...,NaN,False,0,1090,1100,1120,1150,1080,1120,130
4,4,36,0,NaN,5,0,Brighton,0,0,0,...,NaN,False,0,1100,1090,1160,1160,1100,1120,131
5,5,8,0,NaN,6,0,Chelsea,0,0,0,...,NaN,False,0,1270,1280,1300,1300,1250,1290,4
6,6,31,0,NaN,7,0,Crystal Palace,0,0,0,...,NaN,False,0,1090,1100,1110,1160,1080,1160,6
7,7,11,0,NaN,8,0,Everton,0,0,0,...,NaN,False,0,1050,1100,1130,1090,1110,1110,7
8,8,54,0,NaN,9,0,Fulham,0,0,0,...,NaN,False,0,1040,1060,1090,1040,1120,1070,34
9,9,13,0,NaN,10,0,Leicester,0,0,0,...,NaN,False,0,1110,1240,1100,1080,1150,1160,26
10,10,2,0,NaN,11,0,Leeds,0,0,0,...,NaN,False,0,1070,1070,1080,1070,1100,1100,9
11,11,14,0,NaN,12,0,Liverpool,0,0,0,...,NaN,False,0,1350,1360,1300,1350,1340,1350,10
12,12,43,0,NaN,13,0,Man City,0,0,0,...,NaN,False,0,1350,1370,1340,1360,1340,1360,11
13,13,1,0,NaN,14,0,Man Utd,0,0,0,...,NaN,False,0,1170,1250,1170,1190,1190,1200,12
14,14,4,0,NaN,15,0,Newcastle,0,0,0,...,NaN,False,0,1110,1190,1050,1030,1040,1070,23
15,15,17,0,NaN,16,0,Nott'm Forest,0,0,0,...,NaN,False,0,1040,1060,1040,1040,1040,1030,15
16,16,20,0,NaN,17,0,Southampton,0,0,0,...,NaN,False,0,1060,1090,1090,1140,1120,1090,20
17,17,6,0,NaN,18,0,Spurs,0,0,0,...,NaN,False,0,1210,1270,1190,1200,1210,1210,21
18,18,21,0,NaN,19,0,West Ham,0,0,0,...,NaN,False,0,1110,1170,1110,1150,1160,1180,25
19,19,39,0,NaN,20,0,Wolves,0,0,0,...,NaN,False,0,1100,1100,1150,1160,1080,1100,38

In [190]:
df = pd.merge(
    left=players,
    right=teams,
    left_on='team',
    right_on='id'
)

In [191]:
# join player positions
df = df.merge(
    positions,
    left_on='element_type',
    right_on='id'
)

In [195]:
df['element_type']

0      2
1      2
2      2
3      2
4      2
      ..
498    4
499    4
500    4
501    4
502    4
Name: element_type, Length: 503, dtype: int64

In [96]:
df.columns.values
df=df[['web_name','singular_name_short','points','total_points','now_cost','event_points','points_per_game','minutes']]

In [97]:
df_filtered = df[df['minutes']>2000].reset_index(drop=True)
df_filtered=df_filtered[['web_name','singular_name_short','points','total_points','now_cost','event_points','points_per_game','minutes']]

In [98]:
df_filtered.sort_values('points_per_game')

,web_name,singular_name_short,points,total_points,now_cost,event_points,points_per_game,minutes
40,Firpo,DEF,0,22,45,0,0.9,1709
38,Koch,DEF,0,23,45,0,1.1,1572
39,Struijk,DEF,0,35,45,0,1.2,2050
56,B.Williams,DEF,0,36,40,0,1.4,2119
112,Jensen,MID,0,54,50,0,1.7,1590
...,...,...,...,...,...,...,...,...
43,Robertson,DEF,0,186,70,0,6.4,2537
44,Alexander-Arnold,DEF,0,208,75,0,6.5,2853
148,De Bruyne,MID,0,196,120,0,6.5,2196
168,Son,MID,0,258,120,0,7.4,3009
146,Salah,MID,0,265,130,0,7.6,2758

In [133]:
gk = df_filtered[df_filtered['singular_name_short']=='GKP']
defense = df_filtered[df_filtered['singular_name_short']=='DEF']
mid = df_filtered[df_filtered['singular_name_short']=='MID']
fwd = df_filtered[df_filtered['singular_name_short']=='FWD']


df_sorted = gk.append(defense).append(mid).append(fwd)
df_sorted = df_sorted.reset_index(drop=True)
df_sorted.head()
df_sorted.tail()

,web_name,singular_name_short,points,total_points,now_cost,event_points,points_per_game,minutes
194,Adams,FWD,0,103,65,0,3.4,2034
195,Kane,FWD,0,192,115,0,5.2,3231
196,Richarlison,FWD,0,125,85,0,4.2,2522
197,Antonio,FWD,0,140,75,0,3.9,2975
198,Jiménez,FWD,0,101,70,0,3.0,2630

In [76]:
gk[['web_name','singular_name_short','total_points','now_cost','points_per_game']]

      web_name singular_name_short  total_points  now_cost  points_per_game
81    Ramsdale                 GKP           135        50              4.0
82    Martínez                 GKP           129        50              3.6
83        Raya                 GKP            95        45              4.0
84     Sánchez                 GKP           126        45              3.4
85       Mendy                 GKP           130        50              3.8
86      Guaita                 GKP           119        45              4.0
87    Pickford                 GKP           116        45              3.3
88  Schmeichel                 GKP           131        50              3.5
89     Meslier                 GKP           106        45              2.8
90     Alisson                 GKP           176        55              4.9
91     Ederson                 GKP           155        55              4.2
92      De Gea                 GKP           132        50              3.5
93    Dubravka                 GKP            96        45              3.7
94        Pope                 GKP           130        50              3.6
95    McCarthy                 GKP            55        45              3.2
96      Lloris                 GKP           158        55              4.2
97     Forster                 GKP            57        40              3.0
98   Fabianski                 GKP           136        50              3.7
99          Sá                 GKP           146        50              3.9

In [35]:
df_sorted.columns.values

array(['Unnamed: 0_x', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'code_x', 'cost_change_event',
       'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type',
       'ep_next', 'ep_this', 'event_points', 'first_name', 'form_x',
       'id_x', 'in_dreamteam', 'news', 'news_added', 'now_cost', 'photo',
       'points_per_game', 'second_name', 'selected_by_percent', 'special',
       'squad_number', 'status', 'team', 'team_code', 'total_points',
       'transfers_in', 'transfers_in_event', 'transfers_out',
       'transfers_out_event', 'value_form', 'value_season', 'web_name',
       'minutes', 'goals_scored', 'assists', 'clean_sheets',
       'goals_conceded', 'own_goals', 'penalties_saved',
       'penalties_missed', 'yellow_cards', 'red_cards', 'saves', 'bonus',
       'bps', 'influence', 'creativity', 'threat', 'ict_index',
       'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'Unnamed: 0_y', 'code_y', 'draw', 'form_y', 'id_y', 'loss', 'name',
       'played', 'points', 'position', 'short_name', 'strength',
       'team_division', 'unavailable', 'win', 'strength_overall_home',
       'strength_overall_away', 'strength_attack_home',
       'strength_attack_away', 'strength_defence_home',
       'strength_defence_away', 'pulse_id', 'Unnamed: 0', 'id',
       'plural_name', 'plural_name_short', 'singular_name',
       'singular_name_short', 'squad_select', 'squad_min_play',
       'squad_max_play', 'ui_shirt_specific', 'sub_positions_locked',
       'element_count'], dtype=object)

In [152]:
df_sorted['PPM'] = df_sorted['total_points']/df_sorted['minutes']

df_sorted['PPM']=(df_sorted['PPM']-df_sorted['PPM'].mean())/df_sorted['PPM'].std()
df_sorted['points_per_game']=(df_sorted['points_per_game']-df_sorted['points_per_game'].mean())/df_sorted['points_per_game'].std()
df_sorted['total_points']=(df_sorted['total_points']-df_sorted['total_points'].mean())/df_sorted['total_points'].std()


df_sorted['aggregated']= df_sorted['PPM'] + df_sorted['points_per_game'] + df_sorted['total_points']
df_sorted['aggregated_std']= df_sorted[['PPM','points_per_game','total_points']].std(axis=1)

# df_sorted=df_sorted[df_sorted['aggregated']>1].reset_index(drop=True)

In [180]:
df_std = pd.read_csv('../../git/Fantasy-Premier-League/notebooks/stdev_22-23.csv')

In [182]:
df_sorted.columns

Index(['web_name', 'singular_name_short', 'points', 'total_points', 'now_cost',
       'event_points', 'points_per_game', 'minutes', 'PPM', 'aggregated',
       'std_points', 'aggregated_std'],
      dtype='object')

In [153]:
costs = df_sorted['now_cost']
val   = df_sorted['aggregated']





std = df_sorted['aggregated_std']
# per_dollar|mean_points

As a first example, consider the solution of the 0/1 knapsack problem: given a set 𝐼 of items, each one
with a weight 𝑤𝑖 and estimated profit 𝑝𝑖
, one wants to select a subset with maximum profit such that the
summation of the weights of the selected items is less or equal to the knapsack capacity 𝑐. Considering a
set of decision binary variables 𝑥𝑖 that receive value 1 if the 𝑖-th item is selected, or 0 if not, the resulting
mathematical programming formulation is:

In [154]:
df_sorted[df_sorted['web_name']=='Salah']

,web_name,singular_name_short,points,total_points,now_cost,event_points,points_per_game,minutes,PPM,aggregated,std_points,aggregated_std
146,Salah,MID,0,3.927007,130,0,3.886241,2758,3.381858,11.195106,1,0.303658

In [171]:
from mip import Model, xsum, maximize, BINARY

# wi = weights
# pi = profit
# c = capacity : total cost (100)


p = list(val.values)
w = list(costs.values)
std_penalty = list(std.values)
c= 
I = range(len(w))
I_g = range(len(gk))
I_d= range(len(defense))
I_m= range(len(mid))
I_f= range(len(fwd))

m = Model("knapsack")
# define vector of chosen players
x = [m.add_var(var_type=BINARY) for i in I]

# objective function
m.objective = maximize(xsum((p[i] * x[i])-np.log(std_penalty[i]) for i in I) )

# cost constraint
m += xsum(w[i] * x[i] for i in I) <= c

#constraint for number of GK
m += xsum(x[i] for i in I_g )==1
#constraint for number of DEF
m += xsum(x[i + len(gk)] for i in I_d )==5
#constraint for number of MID
m += xsum(x[i+ len(gk)+ len(defense)] for i in I_m )==5
#constraint for number of FWD
m += xsum(x[i+ len(gk)+ len(defense)+ len(mid)] for i in I_f )==2

# exclude players by id
# example lloris = 1
ids_to_exclude = [173,123,9,103,61,177,176]

m += xsum(x[i] for i in ids_to_exclude) == 0


m.optimize()

selected = [i for i in I if x[i].x >= 0.99]
print("selected items: {} ".format(selected))


# for i in selected:
#     print
df_sorted.iloc[selected].sort_values('singular_name_short')

Cgl0002I 42 variables fixed
Cgl0003I 3 fixed, 0 tightened bounds, 0 strengthened rows, 0 substitutions
Cgl0004I processed model has 3 rows, 81 columns (81 integer (81 of which binary)) and 162 elements
Coin3009W Conflict graph built in 0.000 seconds, density: 2.393%
Cgl0015I Clique Strengthening extended 0 cliques, 0 were dominated
Cbc0038I Initial state - 0 integers unsatisfied sum - 3.33067e-15
Cbc0038I Solution found of 0.463994
Cbc0038I Before mini branch and bound, 81 integers at bound fixed and 0 continuous
Cbc0038I Mini branch and bound did not improve solution (0.00 seconds)
Cbc0038I After 0.00 seconds - Feasibility pump exiting with objective of 0.463994 - took 0.00 seconds
Cbc0012I Integer solution of 0.46399353 found by feasibility pump after 0 iterations and 0 nodes (0.00 seconds)
Cbc0001I Search completed - best objective 0.4639935319598464, took 0 iterations and 0 nodes (0.00 seconds)
Cbc0035I Maximum depth 0, 0 variables fixed on reduced cost
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.01

Starting solution of the Linear programming relaxation problem using Primal Simplex

Coin0506I Presolve 2 (-4) rows, 76 (-123) columns and 152 (-253) elements
Clp1000I sum of infeasibilities 3.87833e-07 - average 1.93917e-07, 23 fixed columns
Coin0506I Presolve 2 (0) rows, 53 (-23) columns and 106 (-46) elements
Clp0006I 0  Obj -2.9461644 Dual inf 11583.943 (53)
Clp0029I End of values pass after 53 iterations
Clp0014I Perturbing problem by 0.001% of 0.9964406 - largest nonzero change 0 ( 0%) - largest zero change 1.9220001e-05
Clp0000I Optimal - objective value -0.2707672
Clp0000I Optimal - objective value -0.2707672
Coin0511I After Postsolve, objective -0.2707672, infeasibilities - dual 0 (0), primal 0 (0)
Clp0006I 0  Obj -0.2707672
Clp0000I Optimal - objective value -0.2707672
Clp0000I Optimal - objective value -0.2707672
Clp0000I Optimal - objective value -0.2707672
Coin0511I After Postsolve, objective -0.2707672, infeasibilities - dual 0 (0), primal 0 (0)
Clp0032I Optimal objective -0.2707672003 - 0 iterations time 0.002, Presolve 0.00, Idiot 0.00

Starting MIP optimization
selected items: [109, 181]

,web_name,singular_name_short,points,total_points,now_cost,event_points,points_per_game,minutes,PPM,aggregated,std_points,aggregated_std
109,Ramsey,MID,0,0.133088,55,0,-0.145504,2465,0.258526,0.246110,1,0.206796
181,Moutinho,MID,0,-0.183072,50,0,-0.603657,2970,-0.005117,-0.791845,1,0.307357

In [178]:
df_sorted[(df_sorted['now_cost']<=55)&(df_sorted['singular_name_short']=='MID')].sort_values('aggregated', ascending=False).head(20)

,web_name,singular_name_short,points,total_points,now_cost,event_points,points_per_game,minutes,PPM,aggregated,std_points,aggregated_std
177,Fornals,MID,0,0.327648,55,0,-0.145504,2795,0.402704,0.584848,1,0.297220
176,Soucek,MID,0,0.254688,55,0,-0.053873,3061,0.325132,0.525947,1,0.201584
109,Ramsey,MID,0,0.133088,55,0,-0.145504,2465,0.258526,0.246110,1,0.206796
143,Henderson,MID,0,0.157408,55,0,-0.237134,2592,0.273887,0.194160,1,0.267823
106,McGinn,MID,0,0.157408,55,0,-0.237134,3090,0.251572,0.171845,1,0.259282
170,Højbjerg,MID,0,0.133088,55,0,-0.328765,3196,0.230370,0.034693,1,0.298720
130,Gray,MID,0,0.060128,55,0,-0.237134,2336,0.194112,0.017106,1,0.220715
145,Fabinho,MID,0,-0.158752,55,0,-0.053873,2311,-0.021199,-0.233824,1,0.071866
110,Nørgaard,MID,0,-0.061472,55,0,-0.420395,3054,0.089532,-0.392336,1,0.261933
131,Gordon,MID,0,-0.085792,55,0,-0.420395,2277,0.049519,-0.456669,1,0.241898
155,Fred,MID,0,-0.256032,55,0,-0.053873,2026,-0.152709,-0.462614,1,0.101088
179,Neves,MID,0,-0.207392,55,0,-0.420395,2659,-0.042408,-0.670196,1,0.189501
172,Lanzini,MID,0,-0.280352,55,0,-0.237134,1777,-0.224287,-0.741774,1,0.029371
181,Moutinho,MID,0,-0.183072,50,0,-0.603657,2970,-0.005117,-0.791845,1,0.307357
128,Doucouré,MID,0,-0.328992,55,0,-0.328765,2536,-0.160359,-0.818116,1,0.097295
166,Elyounoussi,MID,0,-0.328992,55,0,-0.328765,2039,-0.232456,-0.890213,1,0.055670
117,Mac Allister,MID,0,-0.256032,55,0,-0.512026,2112,-0.140976,-0.909034,1,0.189934
175,Rice,MID,0,-0.207392,50,0,-0.695287,3178,-0.013366,-0.916045,1,0.351355
111,Janelt,MID,0,-0.328992,55,0,-0.420395,2295,-0.191420,-0.940807,1,0.115261
114,Gross,MID,0,-0.377632,55,0,-0.328765,2033,-0.288092,-0.994489,1,0.044833

In [179]:
df_sorted.to_csv('df_sorted.csv')

In [138]:
df_sorted.iloc[selected].sort_values('singular_name_short').sum()

web_name               GabrielAlonsoJamesRobertsonAlexander-ArnoldTon...
singular_name_short                    DEFDEFDEFDEFDEFFWDFWDGKPMIDMIDMID
points                                                                 0
total_points                                                    9.562524
now_cost                                                             670
event_points                                                           0
points_per_game                                                12.052411
minutes                                                            27447
PPM                                                            10.897315
aggregated                                                     32.512251
std_points                                                            11
dtype: object